
/*reset*/
*{
    margin: 0;
    padding: 0;
}

/*estilos generales*/

/*estilos body*/

body{
   background-color: antiquewhite;
}

/* estilos de header*/

.img-portada{
    height: 80%;
    width: 100%;    
}

.titulo-uno{
    text-align: center;
    color: whitesmoke;
    background-color: brown;
    font-size: 50px;
    font-style: oblique;
    margin: 0.2rem;
    border: solid black 5px;
}

/*estilos para el menu de navegacion*/

.menu{
   
    background-color: lightcoral;
    border: solid black 3px;
    margin: 0.2rem;
       
}

.foto-logo{
    width: 3rem;
   
}

/*estilos para el boton del menu*/

.navbar-toggler{
    border: none !important; 
    
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

/*etilos de main */

.main-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-uno img{
    height: 90%;
    width: 100%; 
    padding: 1rem;
    margin: 1rem; 
    
}


/*estilos pagina alquileres*/

/*main*/

.alquileres{
    padding: 0.2rem;
}

.galeria-img{
    width: 100%;
    background: linear-gradient(180deg, rgba(222,126,72,0.9890710382513661) 51%, rgba(249,102,19,1) 73%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    
}

.img-size{
    width: 80%;
    border: solid black 3px;
    border-radius: 10px;
    padding: 0.3rem;
    margin: 0.5rem;
    object-fit: cover; /*prop. que permite que la img ocupe el espacio del contendor sin distorsionarse*/
}

.galeria-item{
    position: relative;
}

.titulo-imagen{
    display: block;
    color: rgb(228, 235, 241) !important;
    text-decoration: none !important;
    position: absolute;
    left: 55px;
    bottom: 57px;
    font-size: 15px;
    
}

.titulo-img{
    display: block;
    color: rgb(228, 235, 241) !important;
    text-decoration: none !important;
    position: absolute;
    left: 55px;
    top: 630px;
    font-size: 15px;
}

.galeria-item p{
    font-size: 15px;
}

/*estilos para propiedad-uno*/

.galeria-dos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.img-depto{
    width: 95%;
    border-radius: 10px;
    padding: 0.2rem;
    margin: 0.2rem;
    
}

.alquilertexto{
    width: 100%;
}

.alquilertexto h2{
    margin-top: 0.5rem;
    text-align: center;
}

.alquilertexto p{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(231, 235, 238);
    font-size: 15px;
    
}

.alquilertexto p span{
    display: block;
    text-align: left;
    padding-top: 10px;
}

.locatario{
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}

.alquilertextodos h3, h4{
    text-align: center;
}

.alquilertextodos p{
    margin: .5rem 1rem 1rem 1rem;
    text-align: center;
}

.alquilertextodos p span{
    display: block;
    padding-top: 10px;

}

.alquilertextodos iframe{
    margin: 0 0 0.5rem 0.5rem;
    width: 95%;
    height: 300px;
}

/*estilos pagina contacto*/

.maincontacto{
    text-align: center;
    padding-top: 10px;
    background-color: whitesmoke;
    margin: 15px 10px 10px 10px;
    font-size: 15px;
    
}

.maincontacto h2{
    background-color: rgb(196, 192, 192);
    padding: 20px 20px 20px 20px;
    width: 90%;
    margin: 30px 0px 50px 50px
}


/*estilos pagina sobrenosotros*/

.main-nosotros{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}

.main-nosotros img{
    height: 100%;
    margin: 1rem;
    padding: 1rem;
}

.main-nosotros p{
    text-align: center;
    margin: 0.5rem;
}

.main-nosotros h2{
    text-align: center;
}


/* estilos de footer*/

footer{
    background-color: rgba(238, 195, 158, 0.801);
    display: flex;
    justify-content: center; /*alinea a los hijos horizontal*/
    align-items: center; /*alinea a los hijos vertical*/
}

.redes-sociales{
    display: none;
}



/* estilos para pantallas de escritorio*/

@media screen and (min-width: 1024px){

    /*estilos de menu*/

    .menu{
        display: flex;
        justify-content: center; 
    }

    .collapse{
        font-weight: bolder !important;
        
    }

    .nav-item:hover{
        transform: scale(0.9) !important;
        font-weight:lighter !important;
    }
    
    /* estilos del index*/
    
    .main-uno{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "img h2"
        "img p";
        justify-content: center;
        justify-items: center;
        margin-bottom: 1rem;
    }

    .main-uno img{
        grid-area: img;        
    }

    .main-uno h2{
        grid-area: h2;
    }

    .main-uno p{
        grid-area: p;
    }


    /*estilos para alquileres*/

    .alquileres{
        padding: 0.2rem;
        
    }

   .galeria-img{
        width:100% !important;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,0.5fr);
        justify-items: center;
        justify-content: center;
        text-align: center;
        border: solid black 3px;
    }

    .galeria-item{
        position: relative;
    }
    .img-size{
        
        width: 479px !important;
        height: 399px;
    }

    .titulo-imagen{
        position: absolute;
        left: 25px;
        bottom: 25px;
        
    }


    /*estilos para propiedad-uno*/

    .galeria-dos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,0.5fr);
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin: 0.2rem;
    }

    .imagen-uno{
        width: 100%;
      
    }
    
    .imagen-dos{
        width: 100%;
        
    }
    
    .imagen-tres{
        width: 100%;
        
    }
    
    .imagen-cuatro{
        width: 100%;
        
    }
    
    .img-depto{
        width: 97%;
        
    }
    
    .informacion{
        margin-top: 10px;
        display: grid;
        grid-template-areas: 
        "alquilertexto alquilertextodos";
        grid-template-columns: 1fr 1fr;
        margin: 0 1rem 1rem 1rem;
          
    }
    
    .alquilertexto{        
      grid-area: alquilertexto;
    }

    .alquilertexto p{
        font-size: 16px;
    }

    .alquilertexto h2{
        text-align: center;
    }

    .alquilertextodos{
        grid-area: alquilertextodos;
        text-align: center;
    }

    .alquilertextodos h3{
        margin-top: 0.5rem;
    }

      
    /*estilos de footer*/

    footer{
        height: 70px;
        
    }

    .redes-sociales{
        display: flex;
        align-items: center; /*alinea a los hijos vertical*/
        flex-wrap: wrap;
        margin: 1rem;
    }
    
    .redes-sociales a img{
        height: 45px;
        width: 45px;
        border-radius: 10px;
        border: 1px solid black;
        margin: 1rem;
        
    }

    

}